<h1>Edit</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
	  Form is invalid
	  <ul>
		<% for message in @user.errors.full_messages %>
		  <li><% message %></li>
        <% end %>
      </ul>
	</div>
  <% end %>

  <p>
	<%= f.label :username %><br />
	<%= f.text_field :username %>
  </p>

  <p>
	<%= f.label :email %><br />
	<%= f.text_field :email %>
  </p>
	
  <p>
	<%= f.label :role %><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </p>

  <p class="button"><%= f.submit %></p>
<% end%>	
	
